{% extends '../base.html' %}

{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'hostel/css/login.css' %}" type="text/css"/>
{% endblock %}

{% block body %}
    <div class="login-wrap">
        <div class="login-html">
            <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
		    <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>

            <div class="login-form">
                <div class="sign-in-htm">
                    <form action="{% url 'stud_log' 'signin' %}" method="post" autocomplete>
                        {% csrf_token %}
                        {{ error_message_signin }}
                        <div class="group">
                            <label class="label" for="adminNumberin">Admission Number</label>
                            <input type="text" name="adminNumberin" id="adminNumberin" class="input" required>
                        </div>
                        <div class="group">
                            <label class="label" for="passwdin">Password</label>
                            <input type="password" name="passwdin" id="passwdin" data-type="password" class="input" required>
                        </div>
                        <div class="group">
                            <input type="submit" value="Sign in" class="button"/>
                        </div>
                    </form>
                    <div class="hr"></div>
                    <div class="foot-lnk">
                        <label for="tab-2">New Member?</a>
                    </div>
                </div>

                <div class="sign-up-htm">
                    <form action="{% url 'stud_log' 'signup' %}" method="post">
                        {% csrf_token %}
                        {{ error_message_signup }}
                        <div class="group">
                            <label class="label">Admission Number</label>
                            <input type="text" name="adminNumber" id="adminNumber" class="input" required>
                        </div>
                        <div class="group">
                            <label class="label">Fist Name</label>  
                            <input type="text" name="fName" id="fName" required class="input">
                        </div>
                        <div class="group">
                            <label class="label">Last Name</label>
                            <input type="text" name="lName" id="lName" required class="input">
                        </div>
                        <div class="group">
                            <label class="label">PassWord</label>
                            <input type="password" name="passwd" id="passwdStudent" required data-type="password" class="input">
                            <span id="message"></span>
                        </div>
                        <div class="group">
                            <label class="label">Repeat Password</label>
                            <input type="password" name="passwd1" id="passwd1Student" required data-type="password" class="input">
                            <span id="messageConf"></span>
                        </div>
                        <div class="group">
                            <label class="label">Email</label>
                            <input type="email" name="email" id="email" required class="input">
                        </div>
                        <div class="group">
                            <label class="label">Phone Number</label>
                            <input type="tel" name="phoneNumber" id="phoneNumberStudent" required class="input">
                            <span id="messageTell"></span>
                        </div>
                        <div class="group">
                            <label class="label">Gender</label>
                            <input type="radio" name="gender" id="male" value="M"> 
                            <label for="male">Male</label>
                            <input type="radio" name="gender" id="female" value="F">
                            <label for="female">Female</label>
                        </div>
                        <div class="group">
                            <input type="submit" value="Sign Up" class="button" id="submitStudent" disabled/>
                        </div>
                    </form>
                    <div class="hr"></div>
                    <div class="foot-lnk">
                        <label for="tab-1">Already Member?</a>
                    </div>
                </div>  
            </div>
        </div>
    </div>
    <script type="module" src="{% static 'hostel/js/login.js' %}"></script>
{% endblock %}