{% extends './base_student.html' %} {% load static %} {% block header %}
<div class="nav-links" id="topNav">
  <a href="#home-html" class="home">Home</a>
  <a href="#hostels-html" class="hostels">Hostels</a>
  <a href="#search-html" class="search">Search</a>
  <a href="#my-hostel-html" class="my-hostel">My Hostel</a>
  <a href="#my-account-html" class="my-account">Account</a>
  <a href="{% url 'logout' %}">Logout</a>
</div>
{% endblock %} {% block content %}
<div class="student-main-wrap">
  <div class="student-html">
    <div class="main-content">
      <div id="home-html" class="home-html item">
        <h1>Home</h1>
      </div>
      <div id="hostels-html" class="hostels-html item hide-elem">
        <h1>Hostel Lists</h1>
        <div class="hostel_page"></div>
        <div class="page-btn-div">
          <button id="prev-button" class="page-btn">&lt Prev</button>
          <button class="page-btn" id="next-button">Next &gt</button>
        </div>
      </div>
      <div id="search-html" class="search-html item hide-elem">
        <h1>Search For Hostel</h1>
        <div class="search-input-div">
          <input
            type="text"
            id="name_query_input"
            placeholder="Hostel name or place"
          />
          <button id="search_button">
            <img src="{% static "admin/img/search.svg" %}" alt="search"/>
          </button>
        </div>
        <div class="search_results_div"></div>
      </div>
      <div id="my-hostel-html" class="my-hostel-html item hide-elem">
        <h1>My Hostel</h1>
        <div>
          {% for book in booked_hostels %}
          <div class="card-container">
            <div class="card">
              <img src="{{book.image}}" alt="{{book.hostel.hostel_name}}" />
              <div class="card-content">
                <h3>{{book.hostel.hostel_name}}</h3>
                <p>Price: ksh. {{book.hostel.price_per_month}}</p>
                <p>Locality: {{book.hostel.locality}}</p>
                <a
                  href="{% url 'student_hostel' book.hostel.id %}"
                  class="btn-link"
                  >See More</a
                >
              </div>
            </div>
          </div>
          {% empty %}
          <p>You currently have no hostels booked</p>
          {% endfor %}
        </div>
      </div>
      <div id="my-account-html" class="my-account-html item hide-elem">
        <h1>My Account Details</h1>
        <div class="account-div">
          <table>
            <tr>
              <th>Admission Number</th>
              <td>
                <span id="stud-admin">{{ student.admission_number }}</span>
              </td>
            </tr>
            <tr>
              <th>First Name</th>
              <td>
                <span class="stud-fname-display"
                  >{{ student.first_name }}
                </span>
                <span class="hide-div stud-fname-input">
                  <form class="input-change-form">
                    <input
                      type="text"
                      value="{{ student.first_name }}"
                      id="stud-fname-inp"
                    />
                    <button type="submit" id="stud-fname-sub">
                        <img src="{% static "admin/img/icon-yes.svg" %}" alt="Save"/>
                    </button>
                  </form>
                </span>
              </td>
              <td>
                <button id="stud-fname-btn" class="btn-for-change">
                  <img src="{% static "admin/img/icon-changelink.svg" %}"
                  alt="Edit">
                </button>
                <button class="hide-div btn-for-change" id="stud_fname_cancel">
                  <img src="{% static "admin/img/icon-no.svg" %}" alt="cancel"/>
                </button>
              </td>
            </tr>
            <tr>
              <th>Last Name</th>
              <td>
                <span class="stud-lname-display">{{ student.last_name }} </span>
                <span class="hide-div stud-lname-input">
                  <form class="input-change-form">
                    <input
                      type="text"
                      value="{{ student.last_name }}"
                      id="stud-lname-inp"
                    />
                    <button type="submit" id="stud-lname-sub">
                        <img src="{% static "admin/img/icon-yes.svg" %}" alt="Save"/>
                    </button>
                  </form>
                </span>
              </td>
              <td>
                <button id="stud-lname-btn" class="btn-for-change">
                  <img src="{% static "admin/img/icon-changelink.svg" %}"
                  alt="Edit">
                </button>
                <button
                  class="hide-div btn-for-change"
                  id="stud_lname_cancel"
                >
                  <img src="{% static "admin/img/icon-no.svg" %}" alt="cancel"/>
                </button>
              </td>
            </tr>
            <tr>
              <th>Email</th>
              <td>
                <span class="stud-email-display">{{ student.email }} </span>
                <span class="hide-div stud-email-input">
                  <form class="input-change-form">
                    <input
                      type="email"
                      value="{{ student.email }}"
                      id="stud-email-inp"
                    />
                    <button type="submit" id="stud-email-sub" >
                        <img src="{% static "admin/img/icon-yes.svg" %}" alt="Save"/>
                    </button>
                  </form>
                </span>
              </td>
              <td>
                <button id="stud-email-btn" class="btn-for-change">
                  <img src="{% static "admin/img/icon-changelink.svg" %}"
                  alt="Edit">
                </button>
                <button
                  class="hide-div btn-for-change"
                  id="stud_email_cancel"
                >
                  <img src="{% static "admin/img/icon-no.svg" %}" alt="cancel"/>
                </button>
              </td>
            </tr>
            <tr>
              <th>Phone Number</th>
              <td>
                <span class="stud-contact-display"
                  >{{ student.phone_number }}
                </span>
                <span class="hide-div stud-contact-input">
                  <form class="input-change-form">
                    <input
                      type="text"
                      value="{{ student.phone_number }}"
                      id="stud-contact-inp"
                    />
                    <button type="submit"  id="stud-contact-sub" >
                        <img src="{% static "admin/img/icon-yes.svg" %}" alt="Save"/>
                    </button>
                  </form>
                </span>
              </td>
              <td>
                <button id="stud-contact-btn" class="btn-for-change">
                  <img src="{% static "admin/img/icon-changelink.svg" %}"
                  alt="Edit">
                </button>
                <button
                  class="hide-div btn-for-change"
                  id="stud_contact_cancel"
                >
                  <img src="{% static "admin/img/icon-no.svg" %}" alt="Cancel"/>
                </button>
              </td>
            </tr>
            <tr>
              <th>Gender</th>
              <td>
                {% if student.gender == 'M' %} Male {% else %} Female {% endif%}
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block function %}
<script type="module" src="{% static 'hostel/js/student.js' %}"></script>
{% endblock %}
