{% extends '../base.html' %}

{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'hostel/css/dist/login.min.css' %}" type="text/css"/>
{% endblock %}

{% block body %}
    <div class="login-wrap">
        <div class="login-html">
            <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
            <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>

            <div class="login-form">
                <div class="sign-in-htm">
                    <form action="{% url 'owner_log' 'signin' %}" method="post" autocomplete>
                        {% csrf_token %}
                        <div class="group">
                            <label for="unamein" class="label">Username</label>
                            <input type="text" name="unamein" id="unamein" class="input" required/>
                        </div>
                        <div class="group">
                            <label for="passwdin" class="label">Password</label>
                            <input type="password" name="passwdin" id="passwdin" class="input" data-type="password" required/>
                        </div>
                        <div class="group">
                            <input type="submit" value="Sign in" class="button"/>
                        </div>
                    </form>
                    <div class="hr"></div>
                    <div class="foot-lnk">
                        <label for="tab-2">New Member?</a>
                    </div>
                </div>

                <div class="sign-up-htm">
                    <form action="{% url 'owner_log' 'signup' %}" method="post">
                        {% csrf_token %}
                        <div class="group">
                            <label class="label" for="uname">Username</label>
                            <input type="text" name="uname" id="uname" class="input" required/>
                        </div>
                        <div class="group" for="fname">
                            <label class="label">first name</label>
                            <input type="text" name="fname" id="fname" class="input" required/>
                        </div>
                        <div class="group">
                            <label class="label" for="lname">last name</label>
                            <input type="text" name="lname" id="lname" class="input" required/>
                        </div>
                        <div class="group">
                            <label class="label" for="passwd">password</label>
                            <input type="password" name="passwd" id="passwd" class="input" required data-type="password"/>
                        </div>
                        <div class="group">
                            <label class="label" for="passwd1">repeat password</label>
                            <input type="password" name="passwd1" id="passwd1" class="input" required data-type="password"/>
                        </div>
                        <div class="group">
                            <label class="label" for="email">email</label>
                            <input type="email" name="email" id="email" class="input" required/>
                        </div>
                        <div class="group">
                            <label class="label" for="phone_number">phone number</label>
                            <input type="tel" name="phone_number" id="phone_number" class="input" required/>
                        </div>
                        <div class="group">
                            <input type="submit" value="Sign Up" class="button"/>
                        </div>
                    </form>
                    <div class="hr"></div>
                    <div class="foot-lnk">
                        <label for="tab-1">Already Member?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}