{% extends './base_owner.html' %} {% load static %} {% block header %}
<div class="nav-links" id="topNav">
  <a href="#home-html" class="home">Home</a>
  <a href="#hostels-html" class="hostels">My Hostels</a>
  <a href="#new-hostel-html" class="new-hostel">New Hostel</a>
  <a href="#my-account-html" class="my-account">Account</a>
  <a href="{% url 'logout' %}">Logout</a>
</div>
{% endblock %} {% block content %}
<div class="owner-main-wrap">
  <div class="owner-html">
    <div class="main-content">
      <div id="home-html" class="home-html item">
        <h1>Home</h1>
      </div>
      <div id="new-hostel-html" class="new-hostel-html item hide-elem">
        <h1>New Hostel</h1>
        <form id="hotelForm" action="{% url 'add_hostel' %}" method="post">
          {% csrf_token %}
          <label class="label" for="hname">Hostel Name</label><br />
          <input
            type="text"
            id="hname"
            name="hname"
            placeholder="Hostel Name example Kigali Hostels"
            required
            class="input"
          /><br />
          <label class="label" for="hprice">Price</label><br />
          <input
            type="number"
            min="500"
            placeholder="Enter the rent paid per month e.g 1000"
            id="hprice"
            name="hprice"
            required
            class="input"
          /><br />
          <label class="label" for="hrooms">Number of Rooms</label><br />
          <input
            type="number"
            min="1"
            placeholder="Enter the number of hostels e.g. 10"
            id="hrooms"
            name="hrooms"
            required
            class="input"
          /><br />
          <label class="label" for="hroom_type">Room Type</label><br />
          <select id="hroom_type" name="hroom_type" required class="input">
            <option value="" disabled selected>Select Room Type</option>
            <option value="Single">Single</option>
            <option value="Double">Double</option>
            <option value="Triple">Triple</option>
            <option value="Quad">Quad</option>
            <option value="Bed Seater">Bed Seater</option>
            <option value="Self Contained">Self Contained</option></select
          ><br />

          <label class="label" for="hlocation_description"
            >Location Description</label
          ><br />
          <textarea
            placeholder="Overall description of where the hostel is at e.g. opposite Shell Petrol Station"
            id="hlocation_description"
            name="hlocation_description"
            class="input"
          ></textarea
          ><br />
          <label class="label" for="hcounty">County</label><br />
          <input
            type="text"
            id="hcounty"
            name="hcounty"
            required
            class="input"
            placeholder="The county the hostel is located at e.g. Nairobi"
          /><br />
          <label class="label" for="htown">Campus</label><br />
          <input
            type="text"
            id="htown"
            name="htown"
            required
            placeholder="The Campus it is located near e.g. Kenyatta University Main Campus"
            class="input"
          /><br />
          <label class="label" for="hlocality">Locality</label><br />
          <input
            type="text"
            id="hlocality"
            name="hlocality"
            required
            placeholder="Where it is located e.g. Kahawa Sukari"
            class="input"
          /><br />
          <input type="submit" value="Add Hotel" class="submit-btn" />
        </form>

        <div id="overlay"></div>
      </div>
      <div id="hostels-html" class="hostels-html item hide-elem">
        <div>
          {% for hostel in hostels %}
          <div class="card-container">
            <div class="card">
              <img src="{{hostel.image}}" alt="{{hostel.hostel.hostel_name}}" />
              <div class="card-content">
                <h3>{{hostel.hostel.hostel_name}}</h3>
                <p>Price: ksh. {{hostel.hostel.price_per_month}}</p>
                <p>Locality: {{hostel.hostel.locality}}</p>
                <a
                  href="{% url 'owner_hostel' hostel.hostel.id %}"
                  class="btn-link"
                  >See More</a
                >
              </div>
            </div>
          </div>
          {% empty %}
          <p>You currently have no hostels booked</p>
          {% endfor %}
        </div>
      </div>
      <div id="my-account-html" class="my-account-html item hide-elem">
        <div class="account-div">
          <h1>Account</h1>
          <table>
            <tr>
              <th>Username</th>
              <td><span id="owner-uname">{{ owner.username }}</span></td>
            </tr>
            <tr>
              <th>First Name</th>
              <td>
                <span class="owner-fname-display">{{ owner.first_name }} </span>
                <span class="hide-div owner-fname-input">
                  <form class="input-change-form">
                    <input
                      type="text"
                      value="{{ owner.first_name }}"
                      id="owner-fname-inp"
                    />
                    <button type="submit" id="owner-fname-sub">
                      <img src="{% static "admin/img/icon-yes.svg" %}"
                      alt="Save"/>
                    </button>
                  </form>
                </span>
              </td>
              <td>
                <button id="owner-fname-btn" class="btn-for-change">
                  <img src="{% static "admin/img/icon-changelink.svg" %}"
                  alt="Edit">
                </button>
                <button class="hide-div btn-for-change" id="owner_fname_cancel">
                  <img src="{% static "admin/img/icon-no.svg" %}" alt="cancel"/>
                </button>
              </td>
            </tr>
            <tr>
              <th>Last Name</th>
              <td>
                <span class="owner-lname-display">{{ owner.last_name }} </span>
                <span class="hide-div owner-lname-input">
                  <form class="input-change-form">
                    <input
                      type="text"
                      value="{{ owner.last_name }}"
                      id="owner-lname-inp"
                    />
                    <button type="submit" id="owner-lname-sub">
                      <img src="{% static "admin/img/icon-yes.svg" %}"
                      alt="Save"/>
                    </button>
                  </form>
                </span>
              </td>
              <td>
                <button id="owner-lname-btn" class="btn-for-change">
                  <img src="{% static "admin/img/icon-changelink.svg" %}"
                  alt="Edit">
                </button>
                <button class="hide-div btn-for-change" id="owner_lname_cancel">
                  <img src="{% static "admin/img/icon-no.svg" %}" alt="cancel"/>
                </button>
              </td>
            </tr>
            <tr>
              <th>Email</th>
              <td>
                <span class="owner-email-display">{{ owner.email }} </span>
                <span class="hide-div owner-email-input">
                  <form class="input-change-form">
                    <input
                      type="text"
                      value="{{ owner.email }}"
                      id="owner-email-inp"
                    />
                    <button type="submit" id="owner-email-sub">
                      <img src="{% static "admin/img/icon-yes.svg" %}"
                      alt="Save"/>
                    </button>
                  </form>
                </span>
              </td>
              <td>
                <button id="owner-email-btn" class="btn-for-change">
                  <img src="{% static "admin/img/icon-changelink.svg" %}"
                  alt="Edit">
                </button>
                <button class="hide-div btn-for-change" id="owner_email_cancel">
                  <img src="{% static "admin/img/icon-no.svg" %}" alt="cancel"/>
                </button>
              </td>
            </tr>
            <tr>
              <th>Phone Number</th>
              <td>
                <span class="owner-contact-display"
                  >{{ owner.phone_number }}
                </span>
                <span class="hide-div owner-contact-input">
                  <form class="input-change-form">
                    <input
                      type="text"
                      value="{{ owner.phone_number }}"
                      id="owner-contact-inp"
                    />
                    <button type="submit" id="owner-contact-sub">
                      <img src="{% static "admin/img/icon-yes.svg" %}"
                      alt="Save"/>
                    </button>
                  </form>
                </span>
              </td>
              <td>
                <button id="owner-contact-btn" class="btn-for-change">
                  <img src="{% static "admin/img/icon-changelink.svg" %}"
                  alt="Edit">
                </button>
                <button
                  class="hide-div btn-for-change"
                  id="owner_contact_cancel"
                >
                  <img src="{% static "admin/img/icon-no.svg" %}" alt="cancel"/>
                </button>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block script %}
<script type="module" src="{% static 'hostel/js/owner.js' %}"></script>
{% endblock %}
