{% extends './base_owner.html' %}

{% block content %}
    <div class="owner-main-wrap">
        <div class="owner-html">
            <nav class="navbar">
                <div class="logo">MyBrand</div>
                <div class="menu-toggle" onclick="toggleMenu()">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <div class="nav-links" id="topNav">
                    <a href="#" class="home">Home</a>
                    <a href="#" class="hostels">My Hostels</a>
                    <a href="#" class="new-hostel">New Hostel</a>
                    <a href="#" class="my-account">Account</a>
                    <a href="{% url 'logout' %}">Logout</a>
                </div>
            </nav>
            <div class="main-content">
                <div class="home-html">
                    <h1>Home</h1>
                </div>
                <div class="new-hostel-html">
                     <form id="hotelForm" action="{% url 'add_hostel' %}" method="post">
                        {% csrf_token %}
                        <div class="group">
                            <label class="label" for="hname">Name</label>
                            <input type="text" id="hname" name="hname" required class="input">
                        </div>
                        <div class="group">
                            <label class="label" for="hprice">Price</label>
                            <input type="number" min="500" value="1000" id="hprice" name="hprice" required class="input">
                        </div>
                        <div class="group">
                            <label class="label" for="hrooms">Number of Rooms</label>
                            <input type="number" min="1" value="10" id="hrooms" name="hrooms" required class="input">
                        </div>
                        <div class="group">
                            <label class="label" for="hroom_type">Room Type</label>
                            <input type="text" id="hroom_type" name="hroom_type" required class="input">
                        </div>
                        <div class="group">
                            <label class="label" for="hlocation_description">Location Description</label>
                            <textarea id="hlocation_description" name="hlocation_description" class="input"></textarea>
                            </div>
                        <div class="group">
                            <label class="label" for="hcounty">County</label>
                            <input type="text" id="hcounty" name="hcounty" required class="input">
                        </div>
                        <div class="group">
                            <label class="label" for="htown">Town</label>
                            <input type="text" id="htown" name="htown" required class="input">
                        </div>
                        <div class="group">
                            <label class="label" for="hlocality">Locality</label>
                            <input type="text" id="hlocality" name="hlocality" required class="input">
                        </div>
                        <div class="group">
                            <input type="submit" value="Add Hotel" class="button">
                        </div>
                    </form> 

                    <div id="overlay"></div> 
                </div>

                <div class="hostels-html">
                    <div class="card-container">
                        {% for hostel in hostels %}
                            <div class='card'>
                                <img src="image.jpg" height="200px" width="100%" alt="{{ hostel.hostel_name }} image">
                                <div class="card-content">
                                    <a href="{% url 'owner_hostel' hostel.id %}">
                                        {{ hostel.hostel_name }}
                                    </a>
                                </div>
                            </div>
                        {% empty %}
                            <p>There are no hostels</p>
                        {% endfor %} 
                    </div>
                </div>
                <div class="my-account-html">
                    <h1>Account</h1>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
