{% extends "base.html" %}

{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'hostel/css/admin.css' %}" type="text/css"/>
{% endblock  %}

{% block header %}
<div class="nav-links" id="topNav">
    <a id="stud-btn">Students</a>
    <a id="owner-btn">LandLords</a>
    <a id="hostel-btn">Hostels</a>
    <a id="book-btn">Bookings</a>
    <a href="{% url 'logout' %}">Logout</a>
  </div>
{% endblock %}

{% block body %} 
<div class="admin">
  <div  class="admin-header">
    <img src="{% static "images/e-hostel-logo.png" %}" alt="logo"/>
    <h2 id="admin-title"></h2>
    <hr>
  </div>
  <div class="admin-div"></div>
</div>
{% endblock %}

{% block js %} 
<script src="{% static "/hostel/js/admin.js" %}"></script>
{% endblock %}