{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta author="Derrick Shibero">
        <meta title="E-Hostel Application">
        <title>E-Hostel</title>
        <link rel="stylesheet" href="{% static 'hostel/css/style.css' %}" type="text/css"/>
        {% block style %}{% endblock %}
    </head>
    <body>
        <header>
            <nav class="navbar">
                <div class="logo">
                    <img src="{% static "images/e-hostel-logo.png" %}" alt="E-Hostel" id="e-hostel-logo">
                </div>
                {% block header %}{% endblock %}</header>
            </nav>
        <main>
            <div class="main-div">
                {% block body %}{% endblock %}
            </div>
        </main>
        <footer>
            <div>
                {% comment %} <p>Copyright &copy 2025. Author Derrick Shibero Wakhu</p> {% endcomment %}
                <p>&copy; 2025 E-Hostel. All rights reserved.</p>
                <p><a href="#">Privacy Policy</a> | <a href="#">Terms of Use</a></p>
            </div>
        </footer>
        <script src="{% static 'vendor/jquery.js' %}"></script>
        <script src="{% static 'hostel/js/function.js' %}"></script>
        {% block js %}{% endblock %}
    </body>
</html>