*,:after,:before{
    box-sizing:border-box
}
.clearfix:after,.clearfix:before{
    content:'';display:table
}
.clearfix:after{
    clear:both;display:block
}
a{
    color:inherit;text-decoration:none
}

body{
	margin:0;
	color:#6a6f8c;
	background:#c8c8c8;
	font:700 16px/18px 'Open Sans',sans-serif;
}

.owner-main-wrap {
    position: relative;
    background:#4d3227;

}

.owner-html {
    width: 100%;
    height: 100%;
    position: absolute;
    background:rgba(40,57,101,.9);
}

.owner-html .home-html,
.owner-html .hostels-html,
.owner-html .new-hostel-html,
.owner-html .my-account-html {
    backface-visibility: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    transform: rotateY(180deg);
    transition: all .4s linear;
}

.owner-html .home,
.owner-html .hostels,
.owner-html .new_hostel,
.owner-html .my_account{
    display: none;
}

.owner-html .tab, 
.main-content .group .label, 
.main-content .group .button{
    text-transform: uppercase;
}

.owner-html .tab {
    font-size: 22px;
    margin-right:  15px;
    padding-bottom: 5px;
    margin: 0 15px 10px 0;
    display: inline-block;
    border-bottom: 2px solid transparent;
}

.owner-html .home:checked + .tab,
.owner-html .hostels:checked + .tab,
.owner-html .new_hostel:checked + .tab,
.owner-html .my_account:checked + .tab{
    color: yellowgreen;
    border-color: blue;
}

.main-content{
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
}

.main-content .group{
    margin-bottom: 15px;
}

.main-content .group .label,
.main-content .group .input,
.main-content .group .button{
    width: 100%;
    display: block;
    text-align: center;
}

.main-content .group .input,
.main-content .group .button {
    border: none;
    padding: 15px 20px;
    border-radius: 25px;
    /* background: rgba(255, 255, 255, .1); */
}

.main-content .group .label {
    font-size: 12px;
}

.main-content .group .button{
    background: #1161ee;
}

.main-content .group label .icon{
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:rgba(255,255,255,.1);
}

.main-content .group label .icon:before,
.main-content .group label .icon:after{
	content:'';
	width:10px;
	height:2px;
	background:#fff;
	position:absolute;
	transition:all .2s ease-in-out 0s;
}

.main-content .group label .icon:before{
	left:3px;
	width:5px;
	bottom:6px;
	transform:scale(0) rotate(0);
}

.main-content .group label .icon:after{
	top:6px;
	right:0;
	transform:scale(0) rotate(0);
}

.main-content .home:checked + .tab + .main-content .home-html{
    transform: rotate(0);
}

.main-content .hostels:checked + .tab + .main-content .hostels-html {
    transform: rotate(0);
}
