@media (max-width: 768px) {
  .main-content .new-hostel-html .input,
  .main-content .new-hostel-html .label {
    width: 100% !important;
    margin-left: 0;
  }
}

#add-amenities-div,
#add-amenities-div #new-amenities-div {
  display: none;
}

.booking_list_dropdown {
  position: relative;
  display: inline-block;
}

.booking_list_dropdown .dropbtn {
  background-color: #4caf50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.booking_list_dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.booking_list_dropdown .dropdown-content .dropdown-item {
  background-color: transparent; /* Makes the button background transparent */
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border: none; /* Removes the button border */
  width: 100%; /* ensures the button takes the full width of the dropdown */
  text-align: left; /* aligns the text left */
  cursor: pointer;
}

.booking_list_dropdown .dropdown-content .dropdown-item:hover {
  background-color: #f1f1f1;
}

.booking_list_dropdown:hover .dropdown-content {
  display: block;
}

.inner-menu {
  border-right: solid 2px #ddd; 
  height: 1000px;
  position: absolute;
  left: 0;
  margin-top: 200;
  font-size: 1.2em;
}

.inner-menu li {
  list-style: none;
  border: #ccc 2px solid;
  padding: 8px 12px;
}

.inner-menu li:hover {
  transform: scale(1.05);
  color: #198754;
  border-color: #198754;
}

#new-hostel-html {
  width: 100%;
}

#hotelForm .input {
  width: 60%;
  padding: 8px 12px;
  border-radius: 5px;
  border: none;
  border-bottom: 2px #ddd solid;
  background-color: #f9f9f9;
  font-size: 1.2em;
  margin: 5px;
}

.submit-btn {
  color: #198754;
  border: 2px #198754 solid;
  background-color: #ddd;
  padding: 8px 12px;
  font-size: 1.2em;
  border-radius: 5px;
}

label {
  font-size: 1.2em;
}

.account-div th, .account-div td {
  padding: 8px 12px;
  font-size: 1.2em;
}

