.owner-html {
  .home {
    display: none;
  }

  .hostels {
    display: none;
  }

  .new-hostel {
    display: none;
  }

  .my-account {
    display: none;
  }
}

.main-content {
  .hostels-html {
    display: none;
  }

  .new-hostel-html {
    display: none;
  }

  .my-account-html {
    display: none;
  }
}
