.owner-html .home, 
.owner-html .hostels,
.owner-html .new-hostel,
.owner-html .my-account{
    border: none;
}

@media (max-width: 768px) {
    
}

.main-content .hostels-html,
.main-content .new-hostel-html,
.main-content .my-account-html {
    display: none;
}



@media (max-width: 768px) {
    .main-content .new-hostel-html .input,
    .main-content .new-hostel-html .label {
        width: 100% !important;
        margin-left: 0;
    }
    .main-content .new-hostel-html {
        margin-left: 0 !important;
    }
}

.main-content .new-hostel-html {
    margin-top: 90px;
    width: 70%;
    margin-left: 15%;
    padding: 20px;
}

.main-content .new-hostel-html .label {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content .new-hostel-html .input,
.main-content .new-hostel-html .label {
    width: 80%;
    margin-left: 10%;
    margin-bottom: 5px;
    text-align: center;
}

.main-content .new-hostel-html .input,
.main-content .new-hostel-html .button {
    border-radius: 20px;
    padding: 10px;
    font-size: 15px;
}

.main-content .new-hostel-html .group {
    margin-bottom: 10px;
}

.main-content .new-hostel-html .button {
    background: greenyellow;
    width: 50%;
    margin-left: 25%;
}