* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: linear-gradient(135deg, #e0e0e0, #f8f8f8);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /*body*/
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333333;
  padding: 15px 20px;
  position: fixed;
  height: 80px;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.navbar a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
}
.navbar a:hover {
  background: #575757;
  border-radius: 5px;
}

.nav-links {
  display: flex;
  gap: 10px;
}

.logo {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  padding: 10px;
  background: transparent;
  border: none;
}
.menu-toggle div {
  background: white;
  height: 3px;
  margin: 5px 0;
  transition: 0.3s;
  width: 25px;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #333333;
    position: absolute;
    top: 60px;
    left: 0;
    text-align: center;
  }
  .nav-links.active {
    display: flex;
  }

  .menu-toggle {
    display: flex;
  }

  .main-content {
    margin-top: 95px !important;
  }
  .main-content .item {
    margin: 0 !important;
  }
}

.hide-elem {
  display: none;
}

.account-div .hide-div {
  display: none;
}

.hide-div {
  display: none;
}

.card-container {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card-container .card {
  width: 325px;
  background-color: #f0f0f0;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin: 20px;
}
.card-container .card img {
  height: auto;
  width: 100%;
}
.card-container .card .card-content {
  padding: 16px;
}
.card-container .card .card-content h3 {
  font-size: 28px;
  margin-bottom: 8px;
}
.card-container .card .card-content p {
  color: #666677;
  font-size: 15px;
  line-height: 1.3;
}
.card-container .card .card-content .btn-link {
  background-color: #333333;
  border-radius: 4px;
  color: #ffffff;
  display: inline-block;
  margin-top: 16px;
  padding: 8px 16px;
  text-decoration: none;
}
.card-container .card .card-content .btn-link:hover {
  background-color: rgba(79, 224, 34, 0.5);
  color: blue;
}

.super-index-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  margin: 0;
  background-size: auto;
}

.index-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  padding: 20px;
}

.index-card-container .index-card {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 250px;
  text-align: center;
}

.index-card-container .index-card p {
  margin-bottom: 20px;
}

.index-card-container .index-card button {
  background-color: #004bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.index-card-container .index-card button:hover {
  background-color: #0056b3;
  text-decoration: underline;
}

.index-card-container .index-card img {
  width: 200px;
  height: 150px;
  object-fit: contain;
  margin-bottom: 10px;
  border-radius: 5px;
}

.index-card-container .index-card a {
  text-decoration: inherit;
  color: inherit;
}

.index-card-container .index-card:hover {
  transform: scale(1.35);
}

.card:hover {
  transform: scale(1.09);
}

main {
  flex-grow: 1;
  padding-top: 80px;
  padding-bottom: 60px;
  box-sizing: border-box;
}

main .main-div {
  /* min-height: 1000px; */
  margin: 20px;
}

footer {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 100;
}

#e-hostel-logo {
  height: 80px;
  left: 0;
}
.info {
  width: 50%;
}

.main-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-for-change {
  border: none;
  background-color: inherit;
}

.btn-for-change img {
  width: 35px;
  height: 35px;
}

.input-change-form{
  display: flex;
  align-items:center;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

.input-change-form input {
  padding: 8px;
  border: none;
  border-right: 1px solid #ccc;
  flex-grow: 1;
  box-sizing: border-box;
  font-size: 1.2em;
}

.input-change-form button {
  background-color: #198754;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
}

.input-change-form button img {
  width: 25px;
  height: 25px;
}
