* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333333;
  padding: 15px 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.navbar a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
}
.navbar a:hover {
  background: #575757;
  border-radius: 5px;
}

.nav-links {
  display: flex;
  gap: 10px;
}

.logo {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  padding: 10px;
  background: transparent;
  border: none;
}
.menu-toggle div {
  background: white;
  height: 3px;
  margin: 5px 0;
  transition: 0.3s;
  width: 25px;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #333333;
    position: absolute;
    top: 60px;
    left: 0;
    text-align: center;
  }
  .nav-links.active {
    display: flex;
  }

  .menu-toggle {
    display: flex;
  }

  .main-content {
    margin-top: 95px !important;
  }
  .main-content .item {
    margin: 0 !important;
  }
}
.main-content {
  margin-top: 70px;
}

.hide-elem {
  display: none;
}

.account-div .hide-div {
  display: none;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 100px;
}
.card-container .card {
  width: 325px;
  background-color: #f0f0f0;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin: 20px;
}
.card-container .card img {
  height: auto;
  width: 100%;
}
.card-container .card .card-content {
  padding: 16px;
}
.card-container .card .card-container h3 {
  font-size: 28px;
  margin-bottom: 8px;
}
.card-container .card .card-container p {
  color: #666677;
  font-size: 15px;
  line-height: 1.3;
}
.card-container .card .card-container .link-btn {
  background-color: #333333;
  border-radius: 4px;
  color: #ffffff;
  display: inline-block;
  margin-top: 16px;
  padding: 8px 16px;
  text-decoration: none;
}