<!DOCTYPE html>
<html>
    <head>
        <title>Booking report for {{hostel.hostel_name}}</title>
        <style>
            body { font-family: sans-serif; }
            table { width: 100%; border-collapse: collapse; }
            th, td { border: 1px solid #ddd; padding: 8px; text-align: left; }
            th { background-color: #f2f2f2; }
        </style>
    </head>
    <body>
        {{ letterhead|safe }}
        <h1>All Students</h1>
        <table>
            <thead>
                <tr>
                    <th>Admission Number</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Contact</th>
                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                <tr>
                    <td>{{ student.admin }}</td>
                    <td>{{ student.first_name }} {{ student.last_name }}</td>
                    <td>{{ student.email }}</td>
                    <td>{{ student.contact }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>